.articles {
  width: 800px;
  margin: auto !important;
  .header {
    font-size: 22px !important;
  }
  .labeled {
    margin: 10px;
    font-size: 20px;
    .label {
      padding: 8px !important;
    }
    input {
      padding: 5px !important;
      width: 550px !important;
    }
  }
  .form-control {
    height: auto;
    padding: 0 !important;
    margin: 10px auto !important;
    width: 700px !important;
    font-size: 20px !important;
  }
  .button {
    font-size: 20px;
    padding: 5px 15px;
  }
}